:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  background-color: black;
}

.modal {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: lightskyblue;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.navBar {
  background-color: black;
}

.logoutButton {
  float: right;
}

.userWelcome {
  text-align: center;
  color: white;
}

.product {
  background-color: lightblue;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 0 auto; 
  max-width: 1200px; 
}


body {
  background-color: lightblue;
}

.image-container {
  position: relative; /* set container to a relative position */
  width: 250px; /* set your desired width */
  height: 250px; /* set your desired height */
  padding-top: 25px;
  padding-bottom: 40px;
}

.remove-button {
  position: absolute; /* set button to an absolute position */
  top: 50%; /* adjust the top position of the button */
  left: 50%; /* adjust the left position of the button */
  transform: translate(-50%, -50%); /* center the button */
  cursor: pointer;
 /* change mouse cursor on hover */
}

.button-container {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.purchase-button {
  color: black;
  /* width: 75px;
  height: 75px; */
  top: 50%;
  bottom: 50%;
}

